html {
    scroll-behavior: smooth;
}
.body-page{
    font-family: sans-serif;
    background-color: black;
    
    
}
.container{
    width: 1220px;
    margin-right: auto;  
    margin-left: auto; 
}

.header-box{
    display: flex;
    justify-content: space-between;
    
    

}

.logo{
  margin-top: 46px;
}

.call{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    margin-top: 37px;

}

.call-link{
    color: #E4B564;
    
}

.h1-container{
display: block;

flex-basis: auto;

}
.main-title{
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 128px;
}

.work-about {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px; 
    color: #FFFFFF;
    margin-top: 40px;
    
    width: 1182px;
}


.work-list{
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 467px 467px ;
    gap: 27px;
    padding: 0;
    margin-top: 40px;
    
    
    
    
    
}

.work-item_1{
   background-color: #634F2C;
   grid-column: 1/3;
   display: flex;
   justify-content: center;
    align-items: center;
    text-align: center;
   

   
}
.work-item_2{
    background-color: #B4A385;
    grid-column: 3/5;display: flex;
    display: flex;
    justify-content: center;
     align-items: center;
     flex-basis: auto;
     text-align: center;
     padding-right: 44px;
     padding-left: 44px;


   
}

.work-item_3{
    background-color: #E4B564;
    grid-column: 5/7;
    display: flex;
   justify-content: center;
    align-items: center;
   
}

.work-item_4{
    background-color: #635A4A;
    grid-column: 1/4;
    display: flex;
   justify-content: center;
    align-items: center;
    
   
}
.work-item_5{
    background-color: #B08C4D;
    grid-column: 4/7;
    display: flex;
   justify-content: center;
    align-items: center;
    
}

.work-link{
    color: #FFFFFF;
    display: flex;   
}

.build-title{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 161px;
    margin-bottom: 94px;

}
 
.build-list{
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(3, 1fr);
   
    
    grid-template-rows: repeat(6, 150px) ;
    
    
    gap: 24px;
    padding: 0;
    margin-top: 40px;
    
  
}


.build-item_1{
    background-color: #0E0E0E;
        /* grid-row: 1/3; */
        grid-row: 1/3;
        display: flex;
        justify-content:start;
        align-items: flex-start;
        padding-right: 114px;
        
    }
    
    .build-item_2{
        background-color: #242424;
        /* grid-row: 3/7; */
        grid-area: 1/2/4/3;
        display: flex;
        justify-content:start;
        align-items: flex-start;
        padding-right: 114px;

    }
    
    .build-item_3{
       background-color: #242424;
       /* grid-row: 1/4; */
       grid-area: 1/3/3/4;
       display: flex;
        justify-content:start;
        align-items: flex-start;
    }
    .build-item_4{
       background-color:  #1F1F1F;
       /* grid-row: 4/7; */
       grid-row: 3/7 ;
       display: flex;
        justify-content:start;
        align-items: flex-start;

    }
    .build-item_5{
        background-color:  #E4B564;
        /* grid-row: 1/2; */
        grid-area: 4/2/7/3;
        display: flex;
        justify-content:start;
        align-items: flex-start;
        
    }
    .build-item_6{
        background-color: #1F1F1F;
        /* grid-row: 2/4; */
       grid-area: 3/3/5/4;
       display: flex;
        justify-content:start;
        align-items: flex-start;
    }
    .build-item_7{
        background-color: #0A0909;
        /* grid-row: 4/7; */
        grid-area: 5/3/7/4;
        display: flex;
        justify-content:start;
        align-items: flex-start;

    }
    
    .build-link{
        color: #FFFFFF;
        padding-left: 52px;
        margin-top: 44px;  
    }
    
    
    
    .projects-container{
        display: flex;
        justify-content: space-between;
        margin-top: 172px;
        

    }


    .projets-title{
        
        color: #FFFFFF;
        font-weight: 700;
        font-size: 50px;
        line-height: 28px;
        margin-top: 172px;
    }

    .projects-info-link{
        
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        border: 1px solid #E4B564;
        color: #E4B564;
        padding: 10px 38px;
       
        
        width: 182px;
        height: 52px;
        margin-top: 160px;
    }

    .projects-list{
        

        margin-top: 72px;
        margin-bottom: 238px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 390px 390px;
        padding: 0;
        list-style-type: none;

    }

    .projects-item_1{
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: #634F2C;
        position: relative;
    }

    .projects-item_2{
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: #E8D2AB;
        position: relative;
        
    }

    .projects-item_3{
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: #E4B564;
        position: relative;
    }

    .projects-item_4{
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: #635A4A;
        position: relative;
    }

    .projects-item_5{
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: #B08C4D;
        position: relative;
       
    }
    
    

    .projects-item_6{
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: #634F2C;
        position: relative;
    }

    .img_item_2{
       position: absolute;
       padding-bottom: 100px;
    }
    
    
    
    .hidden-block {
        position: absolute;
        top: 0;
        right: 0;
        
        padding: 120px 80px 60px;
        text-align: center;
        
        background-color: rgba(232, 210, 171, 0.76);;
        border: 2px solid #333333;
        width: 100%;
        height: 100%;
        display: none;
    }
    .projects-item_1:hover .hidden-block {
        display: block;}

    .projects-item_2:hover .hidden-block {
        display: block;
    }
   
    .projects-item_3:hover .hidden-block {
        display: block;
    }
    
    .projects-item_4:hover .hidden-block {
        display: block;
    }
   
    .projects-item_5:hover .hidden-block {
        display: block;
    }
    
    .projects-item_6:hover .hidden-block {
        display: block;
    }
    

    .text-hidden-title{
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        color: #FFFFFF;
        margin: 0;
         
    }
    .text-hidden-block {
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #FFFFFF;   
    }
    .progects-container{
        padding-bottom: 230px;
    }


    


    







